<div [class.sidebarHidden]="!sidebarDisplayed" class="" id="panel">
  <div id="sidebar">
    <ul class="sidebar-content">
      <li [class.selected]="currentUrl == '/'" class="srv-mgt">
        <a routerLink="/"><i class="material-icons">videogame_asset</i></a>
      </li>
    </ul>
  </div>
  <div id="panel-content">
    <div id="heading">
      <div class="row" id="heading-display">
        <div class="col-md-3">
          <button
            (click)="toggleSidebar()"
            *ngIf="!sidebarDisplayed"
            class="btn btn-primary"
            type="button"
          >
            <i class="material-icons switch-arrow">arrow_right</i>
          </button>
          <button
            (click)="toggleSidebar()"
            *ngIf="sidebarDisplayed"
            class="btn btn-primary"
            type="button"
          >
            <i class="material-icons switch-arrow">arrow_left</i>
          </button>
        </div>
        <div class="col-md-9">
          <div class="row" id="indicators">
            asd
          </div>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
